html {background-image: url("./fujiback.jpg"); background-repeat: no-repeat;background-size: cover;
      background-position: center;}


h1 {color: #DB6d6d; text-align: center; font-size:50px; font-family: sans-serif, arial, "Times New Roman";
 font-style: italic; text-decoration: underline;}

 #col {

   display: flex;
   column-count: 2;
   column-width: 100px;
 }


h2 {font-size: 35px; color: #313131; font-style: italic; font-family: sans-serif; text-align: center;}


h3 {font-size: 20px; color: #543939;}

ul {
  padding-left: 20px;
  list-style-type: none;
}

ul li {
  padding-left: 70px;
  background-image: url("./japanlogo.png");
  background-position: 0 0;
  background-size: 70px;
  background-repeat: no-repeat;
}
div {
  line-height: 300%;
}
img {padding-left:70px; width: 300px;}
